apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: web
          image: dineth123412/web:tag1
          ports:
            - containerPort: 80
          imagePullPolicy: Always
